@use 'colors';

header {
    height: 8rem;
    width: 100%;
}

.headertop {
    height: 50%;
    width: 100%;
    background-color: colors.$zcolor_main;


    .headertop_in {
        max-width: 75rem;
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;



        div {
            display: flex;
            align-items: center;
            gap: 1rem;

            p {
                color: white;
            }

            h5 {
                color: white;
            }

            .phone {
                width: 1.5rem;
            }

            .flag_div {
                background-color: white;
                border-radius: 10px;
                width: 4rem;
                height: 2.5rem;
                display: flex;
                justify-content: center;
                align-items: center;


                .flag {
                    width: 2.5rem;
                    border-radius: 5px;
                    box-shadow: 1px 2px 1px 2px rgb(226, 224, 224);
                }
            }



        }






    }



}

.headerbuttom {
    min-height: 50%;
    background-color: rgb(231, 231, 231);

    .headerbuttom_in {
        max-width: 75rem;
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        gap: 1rem;

        .headerbuttom_in_in {
            margin-left: 5rem;
            width: 100%;
            display: flex;
            gap: 1rem;
            align-items: center;
            


            .navigation {
                background-color: colors.$zcolor_main;
                color: white;


                
            }

            button {
                width: 8rem;
                height: 3rem;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 5px;
                border: 0;
                border-radius: 10px;
                background-color: white;
                


                img {
                    width: 2rem;
                }
                
                p {
                    font-size: 1rem;
                }
            }

            .porsen {
                width: 3rem;
                background-color: colors.$zcolor_main;
                color: white;
                font-size: 1.5rem;
            }

            .serch_div {
                flex-grow: 1;
                max-width: 30rem;
                border: 1px solid colors.$zcolor_main;
                border-radius: 10px;
                height: 3rem;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 1rem;
                padding: 1rem;
                background-color: white;

                input {
                    border: 0;
                    width: 100%;
                }
            }

        }

    }


}

@media (max-width: 955px) {
    .headertop {
        display: none;
    }
    .navigation{
        display: none !important;
    }
    .porsen {
        display: none !important;
    }
    button{
        width: 3rem !important;
        p {
            display: none;
        }
    }
    .headerbuttom_in_in{
        margin-left: 0 !important;
    }

}

@media (max-width: 573px) {
    .headerbuttom_in {
        flex-direction: column;
    }
    .main_logo{
        width: 6rem;
    }
}