.kategoriebi {
    display: flex;
    flex-direction: column;
    min-height: 50rem;
    width: 65rem;
    margin: 0 auto;
    gap: 2rem;
    margin-top: 2rem;

    div {
        min-height: 15rem;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(auto, 1fr);
        


        .desk {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            div {
               display: flex;
               flex-direction: column; 
            }
            
        }
    }
}

@media (max-width:955px ) {
    .kategoriebi{
        margin-left: 2rem;
        max-width: 10rem;

        div{
            grid-template-columns: repeat(1, 1fr);
        }
    }
}