@use 'colors';

.prodacts {
    height: 90rem;
    max-width: 75rem;
    width: 100%;
    box-sizing: border-box;
    min-width: 0;
    margin: 0 auto;
    margin-top: 2rem;

    .first_row {
        height: 23rem;
        width: 100%;
        display: flex;
        align-items: center;
        gap: 2rem;

        nav {
            min-height: 95%;
            width: 20rem;
            border-radius: 10px;
            box-shadow: 1px 2px 5px 2px rgb(201, 199, 199);
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            padding: 1rem;

            div {
                width: 100%;
                display: flex;
                align-items: center;
                border-bottom: 1px solid rgb(230, 230, 230);
                padding: 0.5rem;
                gap: 1rem;


                img {
                    max-width: 1.5rem;
                }
            }

            div:hover {
                background-color: lightgray;
            }


        }

        .AD {
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            gap: 3rem;
            overflow-x: auto;
            scroll-behavior: smooth;

            img {
                width: 14rem;
                border-radius: 20px;
            }

            .long {
                width: 57rem;
            }

        }
    }


    .enather_rows {
        min-height: 35rem;
        max-width: 100%;
        margin-top: 3rem;

        .scroll_div {
            overflow-x: scroll;
            display: flex;
            gap: 4rem;
            padding: 1rem;


            div {
                max-width: 12rem;

                display: flex;
                flex-direction: column;
                justify-content: space-between;

                img {
                    max-width: 2rem;
                }

                .main {
                    max-width: 15rem;
                }

                .Best_prise {
                    background-color: colors.$zcolor_main;
                    min-height: 2rem;
                    max-width: 5rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50px;
                    color: white;
                }

                div {
                    min-height: 3rem;
                    margin-top: 1rem;
                    display: flex;
                    flex-direction: row;
                    gap: 1rem;

                    button {
                        border: 0;
                        border-radius: 4px;
                    }

                    .gacvla {
                        max-width: 3rem;
                        min-height: 3rem;
                    }

                    .gacvla:hover {
                        background-color: lightgray;
                    }

                    .shenaxva {
                        background-color: colors.$button_color;
                        max-width: 15rem;
                        height: 3rem;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                    }

                    .shenaxva:hover {
                        background-color: rgb(235, 128, 56);
                    }
                }

            }
        }
    }

    .AD_row {
        overflow-y:scroll;
        height: 15rem;
        display: flex;
        padding: 1rem;
        gap: 3rem;
    }
}

@media (max-width: 573px) {
    nav {
        max-width: 5rem ;
        p {
            display: none;
        }
    }
}