header {
  height: 8rem;
  width: 100%;
}

.headertop {
  height: 50%;
  width: 100%;
  background-color: #ec5e2a;
}
.headertop .headertop_in {
  max-width: 75rem;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.headertop .headertop_in div {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.headertop .headertop_in div p {
  color: white;
}
.headertop .headertop_in div p:hover {
  color: lightgray;
}
.headertop .headertop_in div h5 {
  color: white;
}
.headertop .headertop_in div h5:hover {
  color: lightgray;
}
.headertop .headertop_in div .phone {
  width: 1.5rem;
}
.headertop .headertop_in div .flag_div {
  background-color: white;
  border-radius: 10px;
  width: 4rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.headertop .headertop_in div .flag_div .flag {
  width: 2.5rem;
  border-radius: 5px;
  box-shadow: 1px 2px 1px 2px rgb(226, 224, 224);
}

.headerbuttom {
  min-height: 50%;
  background-color: rgb(231, 231, 231);
}
.headerbuttom .headerbuttom_in {
  max-width: 75rem;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}
.headerbuttom .headerbuttom_in .headerbuttom_in_in {
  margin-left: 5rem;
  width: 100%;
  display: flex;
  gap: 1rem;
  align-items: center;
}
.headerbuttom .headerbuttom_in .headerbuttom_in_in .navigation {
  background-color: #ec5e2a;
  color: white;
}
.headerbuttom .headerbuttom_in .headerbuttom_in_in .navigation:hover {
  background-color: rgba(236, 94, 42, 0.7);
}
.headerbuttom .headerbuttom_in .headerbuttom_in_in button {
  width: 8rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border: 0;
  border-radius: 10px;
  background-color: white;
}
.headerbuttom .headerbuttom_in .headerbuttom_in_in button img {
  width: 2rem;
}
.headerbuttom .headerbuttom_in .headerbuttom_in_in button p {
  font-size: 1rem;
}
.headerbuttom .headerbuttom_in .headerbuttom_in_in button:hover {
  background-color: lightgray;
}
.headerbuttom .headerbuttom_in .headerbuttom_in_in .porsen {
  width: 3rem;
  background-color: #ec5e2a;
  color: white;
  font-size: 1.5rem;
}
.headerbuttom .headerbuttom_in .headerbuttom_in_in .porsen:hover {
  background-color: rgba(236, 94, 42, 0.7);
}
.headerbuttom .headerbuttom_in .headerbuttom_in_in .serch_div {
  flex-grow: 1;
  max-width: 30rem;
  border: 1px solid #ec5e2a;
  border-radius: 10px;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  background-color: white;
}
.headerbuttom .headerbuttom_in .headerbuttom_in_in .serch_div input {
  border: 0;
  width: 100%;
}

@media (max-width: 955px) {
  .headertop {
    display: none;
  }
  .navigation p {
    display: none !important;
  }
  .porsen {
    display: none !important;
  }
  button {
    width: 3rem !important;
  }
  button p {
    display: none;
  }
  .headerbuttom_in_in {
    margin-left: 0 !important;
  }
}
@media (max-width: 573px) {
  .headerbuttom_in {
    flex-direction: column;
  }
  .main_logo {
    width: 6rem;
  }
}
.prodacts {
  height: 90rem;
  max-width: 75rem;
  width: 100%;
  box-sizing: border-box;
  min-width: 0;
  margin: 0 auto;
  margin-top: 2rem;
}
.prodacts .first_row {
  height: 23rem;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 2rem;
}
.prodacts .first_row nav {
  min-height: 95%;
  width: 20rem;
  border-radius: 10px;
  box-shadow: 1px 2px 5px 2px rgb(201, 199, 199);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem;
}
.prodacts .first_row nav div {
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(230, 230, 230);
  padding: 0.5rem;
  gap: 1rem;
}
.prodacts .first_row nav div img {
  max-width: 1.5rem;
}
.prodacts .first_row nav div:hover {
  background-color: lightgray;
}
.prodacts .first_row .AD {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 3rem;
  overflow-x: auto;
  scroll-behavior: smooth;
}
.prodacts .first_row .AD img {
  width: 14rem;
  border-radius: 20px;
}
.prodacts .first_row .AD .long {
  width: 57rem;
}
.prodacts .enather_rows {
  min-height: 35rem;
  max-width: 100%;
  margin-top: 3rem;
}
.prodacts .enather_rows .scroll_div {
  overflow-x: scroll;
  display: flex;
  gap: 4rem;
  padding: 1rem;
}
.prodacts .enather_rows .scroll_div div {
  max-width: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.prodacts .enather_rows .scroll_div div img {
  max-width: 2rem;
}
.prodacts .enather_rows .scroll_div div .main {
  max-width: 15rem;
}
.prodacts .enather_rows .scroll_div div .Best_prise {
  background-color: #ec5e2a;
  min-height: 2rem;
  max-width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  color: white;
}
.prodacts .enather_rows .scroll_div div div {
  min-height: 3rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.prodacts .enather_rows .scroll_div div div button {
  border: 0;
  border-radius: 4px;
}
.prodacts .enather_rows .scroll_div div div .gacvla {
  max-width: 3rem;
  min-height: 3rem;
}
.prodacts .enather_rows .scroll_div div div .gacvla:hover {
  background-color: lightgray;
}
.prodacts .enather_rows .scroll_div div div .shenaxva {
  background-color: rgba(236, 94, 42, 0.7);
  max-width: 15rem;
  height: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.prodacts .enather_rows .scroll_div div div .shenaxva:hover {
  background-color: rgb(235, 128, 56);
}
.prodacts .AD_row {
  overflow-y: scroll;
  height: 15rem;
  display: flex;
  padding: 1rem;
  gap: 3rem;
}

@media (max-width: 573px) {
  nav {
    max-width: 5rem;
  }
  nav p {
    display: none;
  }
}
.kategoriebi {
  display: flex;
  flex-direction: column;
  min-height: 50rem;
  width: 65rem;
  margin: 0 auto;
  gap: 2rem;
  margin-top: 2rem;
}
.kategoriebi div {
  min-height: 15rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(auto, 1fr);
}
.kategoriebi div .desk {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.kategoriebi div .desk div {
  display: flex;
  flex-direction: column;
}

@media (max-width: 955px) {
  .kategoriebi {
    margin-left: 2rem;
    max-width: 10rem;
  }
  .kategoriebi div {
    grid-template-columns: repeat(1, 1fr);
  }
}
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
}/*# sourceMappingURL=style.css.map */