.main {
    width: 73rem;
    height: 35rem;
    margin: 0 auto;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;

    .prodact {
        height: 100%;
        width: 63%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        .pname {
            width: 100%;
            height: 4rem;
            border-bottom: 2px solid lightgray;
            display: flex;
            align-items: center;
            gap: 1rem;

            p {
                font-size: 1.2rem;
            }
        }

        .prodactin {
            width: 100%;
            height: 30rem;
            display: flex;
            justify-content: space-between;

            .pphoto {
                height: 100%;
                width: 55%;
                
                p {
                    font-weight: bold;
                }
            }

            .pdetal {
                height: 100%;
                width: 43%;
                display: flex;
                flex-direction: column;
                align-items: start;
                gap: 1rem;

                div{
                    width: 100%;
                    height: 2rem;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    
                }
            }
        }
    }
    .by{
        height: 100%;
        width: 35%;

        .by_in {
            background-color: lightgray;
            width: 90%;
            height: 60%;
            margin: 0 auto  ;
            margin-top: 2rem;
            border-radius: 20px;
        }
    }

}

.revers {
    transform: rotate(180deg);
}
