header {
  height: 8rem;
  width: 100%;
}

.headertop {
  height: 50%;
  width: 100%;
  background-color: #ec5e2a;
}
.headertop .headertop_in {
  max-width: 75rem;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.headertop .headertop_in div {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.headertop .headertop_in div p {
  color: white;
}
.headertop .headertop_in div p:hover {
  color: lightgray;
}
.headertop .headertop_in div h5 {
  color: white;
}
.headertop .headertop_in div h5:hover {
  color: lightgray;
}
.headertop .headertop_in div .phone {
  width: 1.5rem;
}
.headertop .headertop_in div .flag_div {
  background-color: white;
  border-radius: 10px;
  width: 4rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.headertop .headertop_in div .flag_div .flag {
  width: 2.5rem;
  border-radius: 5px;
  box-shadow: 1px 2px 1px 2px rgb(226, 224, 224);
}

.headerbuttom {
  min-height: 50%;
  background-color: rgb(231, 231, 231);
}
.headerbuttom .headerbuttom_in {
  max-width: 75rem;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}
.headerbuttom .headerbuttom_in .headerbuttom_in_in {
  margin-left: 5rem;
  width: 100%;
  display: flex;
  gap: 1rem;
  align-items: center;
}
.headerbuttom .headerbuttom_in .headerbuttom_in_in .navigation {
  background-color: #ec5e2a;
  color: white;
}
.headerbuttom .headerbuttom_in .headerbuttom_in_in .navigation:hover {
  background-color: rgba(236, 94, 42, 0.7);
}
.headerbuttom .headerbuttom_in .headerbuttom_in_in button {
  width: 8rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border: 0;
  border-radius: 10px;
  background-color: white;
}
.headerbuttom .headerbuttom_in .headerbuttom_in_in button img {
  width: 2rem;
}
.headerbuttom .headerbuttom_in .headerbuttom_in_in button p {
  font-size: 1rem;
}
.headerbuttom .headerbuttom_in .headerbuttom_in_in button:hover {
  background-color: lightgray;
}
.headerbuttom .headerbuttom_in .headerbuttom_in_in .porsen {
  width: 3rem;
  background-color: #ec5e2a;
  color: white;
  font-size: 1.5rem;
}
.headerbuttom .headerbuttom_in .headerbuttom_in_in .porsen:hover {
  background-color: rgba(236, 94, 42, 0.7);
}
.headerbuttom .headerbuttom_in .headerbuttom_in_in .serch_div {
  flex-grow: 1;
  max-width: 30rem;
  border: 1px solid #ec5e2a;
  border-radius: 10px;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  background-color: white;
}
.headerbuttom .headerbuttom_in .headerbuttom_in_in .serch_div input {
  border: 0;
  width: 100%;
}

@media (max-width: 955px) {
  .headertop {
    display: none;
  }
  .navigation p {
    display: none !important;
  }
  .porsen {
    display: none !important;
  }
  button {
    width: 3rem !important;
  }
  button p {
    display: none;
  }
  .headerbuttom_in_in {
    margin-left: 0 !important;
  }
}
@media (max-width: 573px) {
  .headerbuttom_in {
    flex-direction: column;
  }
  .main_logo {
    width: 6rem;
  }
}
.main {
  width: 73rem;
  height: 35rem;
  margin: 0 auto;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}
.main .prodact {
  height: 100%;
  width: 63%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.main .prodact .pname {
  width: 100%;
  height: 4rem;
  border-bottom: 2px solid lightgray;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.main .prodact .pname p {
  font-size: 1.2rem;
}
.main .prodact .prodactin {
  width: 100%;
  height: 30rem;
  display: flex;
  justify-content: space-between;
}
.main .prodact .prodactin .pphoto {
  height: 100%;
  width: 55%;
}
.main .prodact .prodactin .pphoto p {
  font-weight: bold;
}
.main .prodact .prodactin .pdetal {
  height: 100%;
  width: 43%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
}
.main .prodact .prodactin .pdetal div {
  width: 100%;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main .by {
  height: 100%;
  width: 35%;
}
.main .by .by_in {
  background-color: lightgray;
  width: 90%;
  height: 60%;
  margin: 0 auto;
  margin-top: 2rem;
  border-radius: 20px;
}

.revers {
  transform: rotate(180deg);
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
}

body, head {
  width: 100%;
  height: 100%;
}/*# sourceMappingURL=style1.css.map */