header {
  height: 8rem;
  width: 100%;
}

.headertop {
  height: 50%;
  width: 100%;
  background-color: #ec5e2a;
}
.headertop .headertop_in {
  max-width: 75rem;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.headertop .headertop_in div {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.headertop .headertop_in div p {
  color: white;
}
.headertop .headertop_in div h5 {
  color: white;
}
.headertop .headertop_in div .phone {
  width: 1.5rem;
}
.headertop .headertop_in div .flag_div {
  background-color: white;
  border-radius: 10px;
  width: 4rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.headertop .headertop_in div .flag_div .flag {
  width: 2.5rem;
  border-radius: 5px;
  box-shadow: 1px 2px 1px 2px rgb(226, 224, 224);
}

.headerbuttom {
  min-height: 50%;
  background-color: rgb(231, 231, 231);
}
.headerbuttom .headerbuttom_in {
  max-width: 75rem;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}
.headerbuttom .headerbuttom_in .headerbuttom_in_in {
  margin-left: 5rem;
  width: 100%;
  display: flex;
  gap: 1rem;
  align-items: center;
}
.headerbuttom .headerbuttom_in .headerbuttom_in_in .navigation {
  background-color: #ec5e2a;
  color: white;
}
.headerbuttom .headerbuttom_in .headerbuttom_in_in button {
  width: 8rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border: 0;
  border-radius: 10px;
  background-color: white;
}
.headerbuttom .headerbuttom_in .headerbuttom_in_in button img {
  width: 2rem;
}
.headerbuttom .headerbuttom_in .headerbuttom_in_in button p {
  font-size: 1rem;
}
.headerbuttom .headerbuttom_in .headerbuttom_in_in .porsen {
  width: 3rem;
  background-color: #ec5e2a;
  color: white;
  font-size: 1.5rem;
}
.headerbuttom .headerbuttom_in .headerbuttom_in_in .serch_div {
  flex-grow: 1;
  max-width: 30rem;
  border: 1px solid #ec5e2a;
  border-radius: 10px;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  background-color: white;
}
.headerbuttom .headerbuttom_in .headerbuttom_in_in .serch_div input {
  border: 0;
  width: 100%;
}

@media (max-width: 955px) {
  .headertop {
    display: none;
  }
  .navigation p {
    display: none !important;
  }
  .porsen {
    display: none !important;
  }
  button {
    width: 3rem !important;
  }
  button p {
    display: none;
  }
  .headerbuttom_in_in {
    margin-left: 0 !important;
  }
}
@media (max-width: 573px) {
  .headerbuttom_in {
    flex-direction: column;
  }
  .main_logo {
    width: 6rem;
  }
}
.main {
  width: 75rem;
  height: 77vh;
  margin: 0 auto;
  margin-top: 2rem;
}
.main .scroll_div {
  width: 40rem;
  height: 100%;
  display: flex;
}
.main .scroll_div .prodact_name {
  width: 90%;
  height: 5rem;
  border-bottom: 3px solid lightgray;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main .scroll_div .prodact_name h4 {
  color: rgb(131, 129, 129);
}
.main .scroll_div .prodact {
  width: 90%;
  height: 82%;
  margin-top: 1rem;
  overflow-y: scroll;
  display: flex;
  gap: 3rem;
}
.main .scroll_div .prodact .photo {
  width: 55%;
  height: 100%;
}
.main .scroll_div .prodact .photo .photo_in {
  width: 60%;
  overflow-x: scroll;
  display: flex;
}
.main .scroll_div .prodact .photo .photo_in img {
  width: 20rem;
}
.main .scroll_div .prodact .statistic {
  background-color: red;
  width: 50rem;
  height: 50rem;
  display: flex;
  flex-direction: column;
}
.main .scroll_div .prodact .statistic div {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.main .by {
  background-color: lightgray;
  width: 40%;
  height: 25rem;
  border-radius: 10px;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
}

body, head {
  width: 100%;
  height: 100%;
}/*# sourceMappingURL=style1.css.map */