@use 'heder1';
@use 'main1';

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    padding-bottom: 10rem;
}

body,head{
    width: 100%;
    height: 100%;
}